@model ICollection<pw3_proyecto.Entities.Evento>

@{
    ViewData["Title"] = "Inicio";
    Layout = ViewBag.Layout;
}

<section class="bg-yellow pt-4 pb-5 home-image-container">
    <div class="container">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-6 mb-0 mb-xl-5">
                <p class="home-banner-text fw-600 m-0">Chefs</p>
                <p class="home-banner-text fw-600 m-0 home-recipe-text">Eventos</p>
                <p class="home-banner-text fw-600 m-0">Recetas</p>
            </div>
            <div class="col-6 mx-auto">
                <img class="img-fluid" src="~/img/lady-and-kid-cooking.png" alt="Mujer y niña cocinando" />
            </div>
        </div>
    </div>
</section>

<section class="container my-5">
    <h2 class="display-3 fw-500 mb-4 mb-lg-5">Eventos finalizados</h2>

    @if (Model.Count == 0)
    {
        <h3 class="text-center">Aún no hay eventos finalizados.</h3>
    }

    <div class="gx-0 gy-5 g-sm-5 row row-cols-1 row-cols-md-2 row-cols-lg-3">
        @foreach (var evento in @Model)
        {
            <article class="col">
                <div class="card border-radius-15px shadow h-100">
                    <img src="~/img/events/@evento.Foto" class="card-event-img border-radius-top-15px" alt="Foto de evento">

                    <div class="card-body pb-0">
                        <h5 class="card-title">@evento.Nombre</h5>
                        <p class="card-text">$@evento.Precio</p>

                        <hr />

                        @{
                            if (evento.Calificaciones.Count >= 1)
                            {
                                float avgCalification = 0;

                                foreach (var calification in evento.Calificaciones)
                                {
                                    avgCalification += calification.Calificacion;
                                }

                                avgCalification = avgCalification / evento.Calificaciones.Count;

                                <b>Puntuación: @avgCalification.ToString("0.0")/5</b>

                                <div class="my-4">
                                    <p class="m-0">@evento.Calificaciones.FirstOrDefault().IdComensalNavigation.Nombre (@evento.Calificaciones.FirstOrDefault().Calificacion):</p>
                                    <p class="m-0">"@evento.Calificaciones.FirstOrDefault().Comentarios"</p>
                                </div>
                            }
                            else
                            {
                                <p>Aún no hay calificaciones del evento.</p>
                            }
                        }
                    </div>

                    <div class="text-center mb-4">
                        <a class="btn btn-outline-black" asp-controller="Cocineros" asp-action="Evento" asp-route-id="@evento.IdEvento">Ver Más</a>
                    </div>
                </div>
            </article>
        }
    </div>
</section>
