@model pw3_proyecto.Entities.Evento

@{
    ViewData["Title"] = "Crear Evento";
    Layout = "~/Views/Shared/_LayoutCocinero.cshtml";
}

<section class="container mx-auto mt-4 mb-5">
    <p class="display-4 fw-bold text-center mb-4">Crear Evento</p>
    <p class="display-6 fw-bold text-center mb-4">@TempData["EventResult"]</p>

    <div class="col-12 col-lg-6 mx-auto p-4 p-md-5 border-radius-15px shadow">
        <div class="row d-flex justify-content-between align-items-center">
            <form asp-controller="Cocineros" asp-action="Eventos" method="POST" enctype="multipart/form-data">
                <input asp-for="IdCocinero" type="hidden" value="@ViewBag.UserId" />

                <div class="row mb-3">
                    <div class="col">
                        <label asp-for="Nombre" class="form-label"></label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-calendar-week fa-fw"></i></span>
                            <input asp-for="Nombre" class="form-control rounded" placeholder="Ingresa el nombre" />
                        </div>

                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <label asp-for="Fecha" class="form-label"></label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-calendar-check fa-fw"></i></span>
                            <input asp-for="Fecha" class="form-control rounded" />
                        </div>

                        <span asp-validation-for="Fecha" class="text-danger"></span>
                        <span class="text-danger">@TempData["DateError"]</span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <label asp-for="Ubicacion" class="form-label"></label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-map-marker-alt fa-fw"></i></span>
                            <input asp-for="Ubicacion" class="form-control rounded" placeholder="Ingresa la dirección donde será el evento" />
                        </div>

                        <span asp-validation-for="Ubicacion" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <label asp-for="CantidadComensales" class="form-label"></label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-user-friends fa-fw"></i></span>
                            <input asp-for="CantidadComensales" class="form-control rounded" placeholder="Ingresa la cantidad máxima de comensales" />
                        </div>

                        <span asp-validation-for="CantidadComensales" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <label asp-for="Precio" class="form-label"></label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-dollar-sign fa-fw"></i></span>
                            <input asp-for="Precio" type="number" class="form-control rounded" placeholder="Ingresa el precio" />
                        </div>

                        <span asp-validation-for="Precio" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label">Imagen (.jpg o .png)</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-file-image fa-fw"></i></span>
                            <input type="file" name="imageFile" accept=".jpg, .png" class="form-control rounded" />
                        </div>

                        <span asp-validation-for="Foto" class="text-danger"></span>
                        <span class="text-danger">@TempData["ImageNotSaved"]</span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <label asp-for="EventosReceta" class="form-label"></label>
                        <div class="row input-group d-flex flex-wrap justify-content-around mb-2">
                            @foreach (var recipe in ViewBag.ChefRecipes)
                            {
                                <div class="d-flex align-items-center col-4">
                                    <input type="checkbox" id="@String.Concat("recipe", @recipe.IdReceta)" class="form-check-input m-0 me-2" name="EventosReceta" value="@recipe.IdReceta">
                                    <label class="form-check-label" for="@String.Concat("recipe", @recipe.IdReceta)">@recipe.Nombre</label>
                                </div>
                            }
                        </div>

                        @*<span asp-validation-for="EventosReceta" class="text-danger mt-2"></span>*@
                        <span class="text-danger">@TempData["EventoRecetasError"]</span>
                    </div>
                </div>

                <div class="text-center mt-5 mb-3">
                    <button type="submit" class="btn btn-lg btn-yellow">Crear Evento</button>
                </div>
            </form>
        </div>
    </div>
</section>