@model IList<pw3_proyecto.Entities.Evento>

@{
    ViewData["Title"] = "Reserva";
    Layout = "_LayoutComensal";
}

<section class="my-4">
    <h1 class="mb-4">Reservar evento</h1>

    @if(Model != null)
    {
        <div class="gx-0 gy-5 g-sm-5 row row-cols-1 row-cols-md-2 row-cols-lg-3">
            @foreach(var evento in Model)
                {
                    <article class="col">
                        <div class="card h-100 border-radius-15px shadow">
                            <img src="~/img/events/@evento.Foto" class="card-event-img border-radius-top-15px" alt="Foto de evento">

                            <div class="card-body">
                                <h5 class="card-title">@evento.Nombre</h5>
                                <p class="card-text">@evento.Precio</p>

                                <hr />

                                <b>Fecha: @evento.Fecha</b>

                                <div class="my-4">
                                    <p class="m-0">Cantidad de comensales: @evento.CantidadComensales</p>
                                    <p class="m-0">Ubicación: @evento.Ubicacion</p>
                                </div>

                                <div class="text-center">
                                    <a class="btn btn-yellow me-2" asp-action="Confirmar" asp-route-id="@evento.IdEvento">Reservar</a>
                                    <a class="btn btn-outline-dark" asp-controller="Cocineros" asp-action="Evento" asp-route-id="@evento.IdEvento">Ver Detalles</a>
                                </div>
                            </div>
                        </div>
                    </article>
                }
        </div>
    }
    else
    {
        <h3>No hay eventos disponibles</h3>
    }
</section>